/******************* css utilities ****************/

/* text-align */
[text-left] {text-align: left !important;}
[text-right] {text-align: right !important;}
[text-center] {text-align: center !important;}

//text-transform
[text-uppercase] {text-transform: uppercase !important;}
[text-lowercase] {text-transform: lowercase !important;}
[text-captilize], [text-title-case] {text-transform: capitalize !important;}
[text-sentence-case]::first-letter {
    text-transform: uppercase;
}

/* padding */
[no-padding] {
  padding-top: 0 !important; 
  padding-right: 0 !important; 
  padding-bottom: 0 !important; 
  padding-left: 0 !important; 
};

[padding] {
  padding: 16px !important;
}
[padding-top] {
  padding-top: 16px !important;
}
[padding-right] {
  padding-top: 16px !important;
}
[padding-bottom] {
  padding-top: 16px !important;
}
[padding-left] {
  padding-top: 16px !important;
}

/* hide */
.hide, [hide] { display: none !important; }

/* avatar style */
[icon-avatar] {
  border-radius: 50%; 
  background: #efefef; 
  padding: 12px;
  margin: 16px 0 24px;
}

img[image-fit] {
  width: 100%;
  height: 100%;
}
